body {
    box-sizing: border-box;
}
.container {
    background-color: aliceblue;
}
.container > div{
    margin: 0 50px;
}
#img-div> img{
    width: 100%;
    height: 500px;
}

#money-field {
    height: 500px;
}